#nav{
    /* height: 80px; */
    /* padding: 10px; */
    background-color: #FF9398;
    display: flex;
    justify-content: space-between;
}
#logo{
    /* border: 2px solid black; */
} 
#profile_section{
    width: 300px;
    padding-right: 5%;
    display: flex;
    align-items: center;
    /* margin-right: 10%; */
    justify-content: space-between;
    /* gap:50% */
}